{% extends 'base.html' %}
{% block content %}
    {{super()}}
<div class="main">
    <div class="container">
        <h1>Page about</h1><br>
        <p>This is a site for downloading videos from YouTube. Just paste the link in the field and click on a button. <br>
            <b class="text-uppercase">ATTENTION! your
            use of the Service is at your own risk and we do not assume any liability, or make any warranties of any kind,
            express or implied, with respect to the Service.</b></p>
    </div>
</div>
{% endblock %}