{% extends 'base.html' %}
{% block content %}
    {{super()}}
<div class="main">
    <div class="container">
        <div class="paste-link">
            <form action="/download" method="POST">
                <div class="form-group ">
                    <label for="link" class="mt-5">Enter your link here:</label>
                    <input type="url" name="link" class="form-control" id="link" placeholder="">
                    <button type="submit" class="btn btn-success mt-3" id="link-btn">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}